﻿@model Modelo.Cadastros.Produto

<div class="form-horizontal">
  
    @Html.HiddenFor(model => model.ProdutoId)
   
    @if(ViewData.ModelState.Keys.Any(k => ViewData.ModelState[k].Errors.Count() > 0))
    {   
        <div class="alert alert-danger alert-dismissible">
            @Html.ValidationSummary(false, "Verifique os seguintes erros:")
        </div>
    }
    
    <div class="form-group">
        @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.DataCadastro, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.DataCadastro, new { htmlAttributes = new { @class = "form-control", id="datepicker" } })
            @Html.ValidationMessageFor(model => model.DataCadastro, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CategoriaId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("CategoriaId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.CategoriaId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.FabricanteId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("FabricanteId", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.FabricanteId, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="col-md-offset-7 col-md-5">
        <div class="form-group">
            <input type="file" name="logotipo" id="logotipo" onchange='$("#upload-fileinfo").html($(this).val());'>
            <span id="upload-file-info"></span>
        </div>
        <div class="form-group">
            @Html.HiddenFor(model => model.Logotipo)
            @if(Model.Logotipo == null)
            {
                <div class="form-control-static"> Nenhuma imagem adicionada</div>
            }
            else
            {
                <div class="panel-body">
                    <img class="img-thumbnail" src="@Url.Action("GetLogotipo","Produtos",new {id = Model.ProdutoId})" style="display:block; margin-left:auto;margin-right:auto;" />
                </div>
                <div class="panel-footer">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="chkRemoverImagem" value="Sim" >Remover Imagem
                        </label>
                    </div>
                </div>
            }
        </div>
    </div>

</div>
