﻿
@model Modelo.Cadastros.Produto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Novo Produto";
}
@using (Html.BeginForm("Create", "Produtos", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
                @Html.AntiForgeryToken()

                <div class="panel panel-primary">
        <div class="panel-heading">
            Cadastro de PRODUTOS
        </div>
        <div class="panel-body">
           
           @Html.Partial("~/Areas/Cadastros/Views/Produtos/_PartialEditContentPanel.cshtml")
        </div>
        <div class="panel-footer panel-info">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Adicionar Produto" class="btn btn-danger" />
                @Html.ActionLink("Retornar para a listagem de PRODUTOS", "Index", null, new { @class = "btn btn-warning" })
            </div>
            <br />
            <br />
        </div>
    </div>
    @section styles{
        <link href="@Url.Content("~/content/DataTables/css/dataTables.bootstrap.css")" rel="stylesheet">
        <link href="@Url.Content("~/scripts/jquery-ui-1.12.1.custom/jquery-ui.css")" rel="stylesheet">
    }
}


@section ScriptPage {
    <script src="@Url.Content("~/scripts/DataTables/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/scripts/DataTables/dataTables.bootstrap.js")"></script>
    <script src="@Url.Content("~/scripts/jquery-ui-1.12.1.custom/jquery-ui.js")"></script>
    <script src="@Url.Content("~/scripts/jquery.validate.js")"></script>
    <script src="@Url.Content("~/scripts/jquery.unobtrusive.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('li').removeClass("active");
            $('#liProdutos').addClass("active");
            $("#datepicker").datepicker();
            $('.table').dataTable({
            "order": [[1, "asc"]]
        });
});
    </script>
}
