﻿
@model Modelo.Cadastros.Produto

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Editar Produto";
}
@using (Html.BeginForm("Edit","Produtos",FormMethod.Post,new {enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="panel panel-primary">
        <div class="panel-heading">
              Editar Produto
        </div>
        <div class="panel-body">
            @*@Html.HiddenFor(model => model.Logotipo)
            @Html.HiddenFor(model => model.ProdutoId)*@
           @Html.Partial("~/Areas/Cadastros/Views/Produtos/_PartialEditContentPanel.cshtml")
        </div>
        <div class="panel-footer panel-info">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar alterações no Produto" class="btn btn-danger" />
                @Html.ActionLink("Retornar para a listagem de PRODUTOS", "Index", null, new { @class = "btn btn-warning" })
            </div>
            <br />
            <br />
        </div>
    </div>
    @section styles{
        <link href="@Url.Content("~/content/DataTables/css/dataTables.bootstrap.css")" rel="stylesheet">
        <link href="@Url.Content("~/scripts/jquery-ui-1.12.1.custom/jquery-ui.css")" rel="stylesheet">
    }
}


@section ScriptPage {
    <script src="@Url.Content("~/scripts/DataTables/jquery.dataTables.js")"></script>
    <script src="@Url.Content("~/scripts/DataTables/dataTables.bootstrap.js")"></script>
    <script src="~/Scripts/datepicker-pt-BR.js"></script>
    <script src="~/scripts/jquery-ui-1.12.1.custom/jquery-ui.js"></script>
    <script src="@Url.Content("~/scripts/jquery.validate.js")"></script>
    <script src="@Url.Content("~/scripts/jquery.unobtrusive.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('li').removeClass("active");
            $('#liProdutos').addClass("active");
            $("#datepicker").datepicker({
                dayNamesMin: ['D', 'S', 'T', 'Q', 'Q', 'S', 'S', 'D'],
                dayNamesShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sáb', 'Dom'],
                dayNames: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                monthNamesShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                monthNames: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                dateFormat: 'dd/mm/yy',
                nextText: 'Próximo',
                prevText: 'Anterior'
            });
            $('.table').dataTable({
            "order": [[1, "asc"]]
        });
});
    </script>
}


