﻿@model IEnumerable<Modelo.Tabelas.Categoria>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Criar nova Categoria", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.CategoriaId }) |
                @Html.ActionLink("Details", "Details", new { id=item.CategoriaId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.CategoriaId })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
